<div class="container">
    <h1 class="title">
        LOGIN FORM
    </h1>
    <form class="form">
        <div class="div-form">
            <mat-form-field class="field" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="Enter your name" name="username" [(ngModel)] ="username" required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" value="" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]= "password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
            <div>
                <span class="button-css"><button mat-raised-button color="primary" (click)="submit()">Login</button></span>
                <span class="button-css"><button mat-stroked-button color="primary" (click)="clear()">Reset</button></span>
                <div class="button-css">
                    Not a user? Register
                    <a routerLink="/register" routerLinkActive="active">here</a>
                </div>
            </div>
        </div>
    </form>
</div>
<router-outlet></router-outlet>